<div class="wrapper main-content-maestros">
  <div class="header-home-maestros">
  </div>
  <div class="body-maestros">
    <!-- Encabezado con los títulos de bienvenida y rol del usuario -->
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <span class="title-perfil">Materias Registradas</span>
        <br>
        <!-- <span class="title-perfil">{{rol}}</span> -->
      </div>
    </div>
    <!-- Contenedor principal para la tabla de maestros -->
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de materias registradas</span>
          </div>
        </div>

        <!-- es el para el filtering  -->
        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Buscar Materias</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!-- Colocamos la tabla de maestros -->
        <ng-container *ngIf="lista_materias.length > 0; else noData">
          <div class="table-scroll-wrapper">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort style="min-width: 1200px; width: 100%;">
                <!-- 1era columna -->
                <ng-container matColumnDef="nrc">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> NRC </th>
                  <td mat-cell *matCellDef="let element"> {{element.nrc}} </td>
                </ng-container>

                <!-- 2da columna -->
                <ng-container matColumnDef="nombre_materia">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre_materia </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre_materia}} </td>
                </ng-container>

                <!-- 3era columna -->
                <ng-container matColumnDef="seccion">
                  <th mat-header-cell *matHeaderCellDef> Seccion </th>
                  <td mat-cell *matCellDef="let element"> {{element.seccion}} </td>
                </ng-container>

                <!-- 4ta columna -->
                <!-- Columna Días -->
                <ng-container matColumnDef="dias">
                  <th mat-header-cell *matHeaderCellDef> Días </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.dias?.length > 0; else noDias">
                      {{ element.dias.join(', ') }}
                    </ng-container>
                    <ng-template #noDias>-</ng-template>
                  </td>
                </ng-container>

                <!-- 5ta columna -->
                <ng-container matColumnDef="hora_inicio">
                  <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora_inicio}} </td>
                </ng-container>

                <!-- 6ta columna -->
                <ng-container matColumnDef="hora_final">
                  <th mat-header-cell *matHeaderCellDef> Hora Final </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora_final}} </td>
                </ng-container>

                <!-- 7ma columna -->
                <ng-container matColumnDef="salon">
                  <th mat-header-cell *matHeaderCellDef> salon </th>
                  <td mat-cell *matCellDef="let element"> {{element.salon}} </td>
                </ng-container>

                <!-- 8va columna -->
                <ng-container matColumnDef="programa_educativo">
                  <th mat-header-cell *matHeaderCellDef> Programa Educativo </th>
                  <td mat-cell *matCellDef="let element"> {{element.programa_educativo}} </td>
                </ng-container>

                <!-- 9va columna -->
                <ng-container matColumnDef="profesor">
                  <th mat-header-cell *matHeaderCellDef> Profesor </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.profesor }}
                  </td>
                </ng-container>

                <!-- 10 columna -->
                <ng-container matColumnDef="creditos">
                  <th mat-header-cell *matHeaderCellDef> Creditos </th>
                  <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
                </ng-container>

                <!-- 9a columna - Editar -->
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                  <td mat-cell *matCellDef="let element" class="td-editar">
                    <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                  </td>
                </ng-container>

                <!-- 10a columna - Eliminar -->
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element" class="td-eliminar">
                    <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <!-- Colocamos la paginación de la tabla -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" style="min-width: 1200px; width: 100%;">
            </mat-paginator>
          </div>
        </ng-container>
        <!-- Si no hay datos, mostramos un mensaje alternativo -->
        <ng-template #noData>
          <div class="row">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                No hay materias registradas.
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>