<div class="wrapper main-content-alumnos">
  <div class="header-home-alumnos">
  </div>
  <div class="body-alumnos">
    <!-- Encabezado con los títulos de bienvenida y rol del usuario -->
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <span class="title-perfil"> Bienvenido {{name_user}}</span>
        <br>
        <span class="title-perfil">{{rol}}</span>
      </div>
    </div>
    <!-- Contenedor principal para la tabla de alumnos -->
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de alumnos registrados</span>
          </div>
        </div>

        <!-- es el para el filtering  -->
        <div class="row mb-3">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Buscar Alumno</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!-- Colocamos la tabla de alumnos -->
        <ng-container *ngIf="lista_alumnos.length > 0; else noData">
          <div class="table-scroll-wrapper">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort style="min-width: 1200px; width: 100%;">

                <!-- 1era columna -->
                <ng-container matColumnDef="clave_alumno">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Alumno </th>
                  <td mat-cell *matCellDef="let element"> {{element.clave_alumno}} </td>
                </ng-container>

                <!-- 2da columna-->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
                </ng-container>

                <!-- 3era columna-->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- 4ta columna-->
                <ng-container matColumnDef="fecha_nacimiento">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento | date: 'dd/MM/yyyy':'UTC'}} </td>
                </ng-container>

                <!-- 5ta columna-->
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>

                <!-- 6ta columna -->
                <ng-container matColumnDef="curp">
                  <th mat-header-cell *matHeaderCellDef> CURP </th>
                  <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
                </ng-container>

                <!-- 7ma columna-->
                <ng-container matColumnDef="edad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                  <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
                </ng-container>

                <!-- 8va columna - Editar -->
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                  <td mat-cell *matCellDef="let element" class="td-editar">
                    <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                  </td>
                </ng-container>

                <!-- 9na columna - Eliminar -->
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element" class="td-eliminar">
                    <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <!-- Colocamos la paginación de la tabla -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" style="min-width: 1200px; width: 100%;">
            </mat-paginator>
          </div>
        </ng-container>
        <!-- Si no hay datos, mostramos un mensaje alternativo -->
        <ng-template #noData>
          <div class="row">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                No hay alumnos registrados.
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>